html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

table {
  border: 1px solid #000000;
  border-collapse: collapse;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mdc-data-table__cell {
  border: 1px solid #000000;
  border-collapse: collapse;
  top: 50%;
  left: 50%;
}