html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

th {
  border: 1px solid #000000;
  border-collapse: collapse;
  text-align: center
}

.grid-container {
  display: inline-grid;
  grid-template-columns: 33% 67%;
  width: 100%;
  background-color: #ffffff;
  padding: 10px;
}

.expenses-table-t {
  width: 100%;
  border: 1px solid #000000;
  border-collapse: collapse;
}

.income-table-t {
  width: 100%;
  border: 1px solid #000000;
  border-collapse: collapse;
}

.total-income {
  border: 1px solid #000000;
  border-collapse: collapse;
}

.total-expenses {
  border: 1px solid #000000;
  border-collapse: collapse;
}

.categories {
  border: 1px solid #000000;
  border-collapse: collapse;
}
